/* Noto - https://coolors.co/03045e-023e8a-0077b6-0096c7-00b4d8-48cae4-90e0ef-ade8f4-caf0f8 */

/* Fonts */
$noto-sans: 'Noto Sans';
$noto-sans-display: 'Noto Sans Display';
$noto-serif: 'Noto Serif';
$noto-serif-display: 'Noto Serif Display';
$noto-sans-code: 'Noto Sans Mono';

/* Font Families */
$noto-sans-family: $noto-sans, Arial, Helvetica, sans-serif;
$noto-sans-display-family: $noto-sans-display, Arial, Helvetica, sans-serif;
$noto-serif-family: $noto-serif, 'Times New Roman', Times, serif;
$noto-serif-display-family: $noto-serif-display, 'Times New Roman', Times, serif;
$noto-code-family: $noto-sans-code, 'Courier New', Courier, monospace;
