/* Noto - https://fonts.google.com/noto/fonts */

/* Fonts */
$noto-sans: 'Noto Sans';
$noto-sans-display: 'Noto Sans Display';
$noto-serif: 'Noto Serif';
$noto-serif-display: 'Noto Serif Display';
$noto-sans-code: 'Noto Sans Mono';

/* Font Families */
$noto-sans-family: $noto-sans, Arial, Helvetica, sans-serif;
$noto-sans-display-family: $noto-sans-display, Arial, Helvetica, sans-serif;
$noto-serif-family: $noto-serif, 'Times New Roman', Times, serif;
$noto-serif-display-family: $noto-serif-display, 'Times New Roman', Times, serif;
$noto-code-family: $noto-sans-code, 'Courier New', Courier, monospace;
