@import '../../assets/css/styles-colors.scss';
@import '../../assets/css/styles-fonts.scss';
@import '../../assets/css/styles-theme.scss';

.loader {
    position: absolute !important;
    top: 50%;
    left: 50%;
    z-index: 99999;
}

:export {
    loaderColor: $loader-color;
}
