@forward "styles-colors";
@forward "styles-fonts";
@forward "styles-icons";
@import "styles-theme";

/* General */
html, body {
    font-family: $body-font-family;
    color: $text-color;
    background-color: $background-color;
    width: 100%;
    height: 97% !important;
    padding: 0;
}

/* Headings */
h1 {
    font-family: $heading-font-family;
    color: $heading-text-color;
}
