@import './styles-fonts';

/* Font Families */
$body-font-family: $noto-sans-family;
$heading-font-family: $noto-sans-display-family;
$code-font-family: $noto-code-family;

/* Fonts */
$body-font: $noto-sans;
$heading-font: $noto-sans-display;

/* Colours */
$loader-color: var(--loader-color);
$logo-color: var(--logo-color);
$background-color: var(--background-color);
$border-color: var(--border-color);
$heading-text-color: var(--heading-text-color);
$text-color: var(--text-color);
$cover-text-color: var(--cover-text-color);

/* Gradients */
$overlay-gradient: var(--overlay-gradient);
$cover-gradient: var(--cover-gradient);
