@import "styles-colors";
@import "styles-fonts";
@import "styles-icons";
@import "styles-overrides";
@import "styles-theme";

/* General */
html, body {
    font-family: $body-font-family;
    color: $text-color;
    background-color: $background-color;
}

/* Headings */
h1 {
    font-family: $heading-font-family;
    color: $heading-text-color;
}
