@import 'bootstrap/scss/bootstrap-reboot.scss';
@import '../../assets/css/styles-colors.scss';
@import '../../assets/css/styles-fonts.scss';
@import '../../assets/css/styles-theme.scss';

.cover {
    width: 100%;
    height: 100%;
    position: relative;
}

.cover::before {
    content: "";
    background: $cover-gradient;
    opacity: 0.25;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.coverContent {
    width: 100%;
    height: 100%;
}

.coverImage {
    object-fit: scale-down;
    object-position: center;
    width: auto;
    height: 100%;
}

.coverText {
    font-family: $header-font-family;
    font-size: 4em;
    font-weight: bolder;
    color: $cover-text-color;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.coverSlider.rc-slider.rc-slider-horizontal {
    width: 100%;
    height: 100%;
    position: relative;
}

@include media-breakpoint-only(xs) {
    .coverText {
        font-size: 2em;
    }
}

@include media-breakpoint-only(sm) {
    .coverText {
        font-size: 3em;
    }
}

@include media-breakpoint-down(sm) {
    .coverText {
        font-weight: bold;
    }
}
